		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h2>Using AngularJS Routing</h2>
			<p>This is a simple test inspired by the video "<a href="http://www.youtube.com/watch?v=zogrnQjHZAM" target="_blank">Building a Website with AngularJS - Routes and Partials</a>" by "simpulton" (<a href="https://github.com/simpulton" target="_blank">github</a>).<br>
The content of these pages are actually fetched by <strong>AngularJS</strong> as <em>partials</em> (pieces of code) using Route functionality build into AngularJS.
			</p>
		</div>
